.container {
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6f6e88;
}

.container h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #1e1c44;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input[type="checkbox"] {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #1e1c44;
}

.block h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1e1c44;
  text-align: start;
  width: 290px;
  border-bottom: 0.5px solid #b1b1b1;
  padding-bottom: 20px;
}

.wrapper {
  border-bottom: 0.5px solid #b1b1b1;
  height: 56px;
  /* margin-top: -20px; */
}

.block {
  display: flex;
  /* height: 40px; */
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 40px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 3px;
}

.blocks {
  width: 378px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  /* padding: 10px; */
  display: flex;
  justify-content: space-around;
  width: 105px;
  align-items: center;
  height: 56px;
}

header > a {
  width: 85px;
  height: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header > a > h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6f6e88;
}

.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.input:hover input ~ .check-mark {
  background-color: #fff;
}

.input input:checked ~ .check-mark {
  background-color: #000;
}

.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.input input:checked ~ .check-mark:after {
  display: block;
}

.input .check-mark:after {
  left: 3px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
