@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
}

html {
  height: 560px;
  width: 420px;
}

body {
  height: 560px;
  width: 420px;
}
